*.la
*.lo
*.o
*.trs
*~
.cache
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
build-aux/
compile
compile_commands.json
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
gmon.out
gnulib/
install-sh
libtool
ltmain.sh
missing
output/
result/
stamp-h1
test-driver
