result
result/
*.o
.cache
gmon.out
*~
.deps/
.dirstamp
autom4te.cache/
config.h
.libs/
*.la
*.lo
*.trs
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
Makefile.in
config.h.in
build/
compile_commands.json
